<h1 class="title">Edit Content</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.content_path(@conn, :update, @content)) %>

<span><%= link "Back", to: Routes.content_path(@conn, :index), class: "button" %></span>
