<h1>Edit Objective</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.objective_path(@conn, :update, @objective)) %>

<span><%= link "Back", to: Routes.objective_path(@conn, :index) %></span>
