<h1 class="title">New Objective</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.objective_path(@conn, :create)) %>

<div><%= link "Back", to: Routes.objective_path(@conn, :index), class: "button" %></div>
