<h1 class="title">New Area</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_area_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.admin_area_path(@conn, :index), class: "button" %></span>
