<h1 class="title is-1"> Didata </h1>

<section class="bd-index-fullscreen hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2">
        Área: <%= @area.name  %>
      </h2>
      <h3 class="title is-3">
        Disciplinas
      </h3>
      <%= for discipline <- @area.disciplines do %>
        <nav class="buttons is-centered">
          <a class="button is-large is-primary" href="#">
            <%= discipline.name %>
          </a>
        </nav>
      <% end %>
    </div>
  </div>
</section>
