$color-primary-100: #BBFFFF;
$color-primary-200: #8CEEEA;
$color-primary-300: #5EDDD4;
$color-primary-400: #2FCCBF;
$color-primary-500: #00BBAA;
$color-primary-600: #00AA99;
$color-primary-700: #008888;
$color-primary-800: #006666;
$color-primary-900: #005555;

$color-neutral-50: hsl(0, 0, 95);
$color-neutral-100: hsl(0, 0, 90);
$color-neutral-200: hsl(0, 0, 81);
$color-neutral-300: hsl(0, 0, 72);
$color-neutral-400: hsl(0, 0, 63);
$color-neutral-500: hsl(0, 0, 54);
$color-neutral-600: hsl(0, 0, 45);
$color-neutral-700: hsl(0, 0, 36);
$color-neutral-800: hsl(0, 0, 27);
$color-neutral-900: hsl(0, 0, 18);
